<section class="container">
  <div class="search">
    <input class="search-input" type="search" name="searchText" [(ngModel)]="searchPlanet" placeholder="Search planet by name...">
    <i class="fas fa-search search-icon"></i>
  </div>
  <h2 class="title">List of Planets:</h2>
  <div class="planets-list">
    <div class="planet" *ngFor="let planet of planetsList?.results | filter : searchPlanet; let i = index">
      <p class="name">{{planet.name}}</p>
      <button class="see-more" routerLink="/planet/{{i + index}}">See details</button>
    </div>
  </div>
  <div class="pagination" *ngIf="planetsList?.results?.length">
    <ul>
      <li>
        <a href="#" (click)=goToPrevPage($event)>&lt; Poprzednia</a>
      </li>
      <li *ngFor="let p of pages">
        <a [class.active]="p === nrPage - 1" href="#" (click)="goToPage(p + 1, $event)">{{p+1}}</a>
      </li>
      <li>
        <a href="#" (click)=goToNextPage($event)>Następna &gt;</a>
      </li>
    </ul>
  </div>
</section>
