@import '../styles/core';

:host {
  .header {
    height: 60px;
    background-color: $colorPrimary;
    color: white;
    .toolbar {
      height: 60px;
      display: flex;
      align-items: center;
      .icon {
        margin-right: 10px;
      }
      .app-title {
        color: $colorBackground;
        text-decoration: none;
      }
    }
  }
}
