@import '../styles/core';

:host {
  .header {
    height: 60px;
    background-color: $colorPrimary;
    color: white;
    .toolbar {
      height: 60px;
      display: flex;
      align-items: center;
    }
    img {
      margin: 0 20px;
    }
  }
}
